<h1>Add your Bike</h1>
<%= simple_form_for(@bike) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :category %>
  <%= f.text_field :category %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.submit "Add a new Bike" %>

<% end %>
