<div class="container py-4 my-4 mx-auto d-flex flex-column">
    <div class="header">
        <div class="row r1">
            <div class="col-md-9 abc">
                <h1><%= @bike.title.upcase %></h1>
            </div>
            <div class="col-md-3 text-right pqr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
            <p class="text-right para"></p>
        </div>
    </div>
    <div class="container-body mt-4">
        <div class="row r3">
            <div class="col-md-5 p-0 klo">
                <ul>
               
                    <li><strong>Description :</strong><h1> <%= @bike.description %> </h1></li>
                    <li><strong>Location :</strong><h1> <%= @bike.location %> </h1></li>
                    <li><strong>Category :</strong><h1> <%= @bike.category %> </h1></li>
                    <li><strong>Price :</strong><h1> <%= @bike.price %>$ </h1></li>
                    <div class="label-date">
                    <li><label for="start">Pick up:</label>
                    <input type="date" id="start" name="trip-start" value="yyyy-mm-dd"></li>
                    <br>
                    <li><label for="end">Drop off:</label>
                    <input type="date" id="end" name="trip-end" value="yyyy-mm-dd"></li>
                    </div>
                </ul>
            </div>
            <div class="bike-img">
                <%= image_tag @bike.photo , height: 300 %>
            </div>
        </div>
    </div>
    
        <div class="row r4">
            <a class="btn btn-ghost" href="#">Contact Me</a>
            <a class="btn btn-ghost" href="#">Rent My bike</a>
        </div>
    
</div>